<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<nav th:insert="fragments/nav-bar :: nav-bar"></nav>

<div class="container">
    <form th:action="@{/{id}/update-article(id=${article.id})}" th:object = "${article}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input th:value="${article.getTitle()}" type="text" name="title" class="form-control" id="title" placeholder="Enter title...">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea th:text="${article.getDescription()}" name="description" class="form-control" id="description" rows="3"></textarea>
        </div>

        <input type="file" name="file" accept="image/*">

        <button class="btn btn-primary">Submit</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>