<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<nav th:insert="fragments/nav-bar :: nav-bar"></nav>

<div class="container">
        <div class="my-3">
            <img th:src="@{/photos/{image}(image=${article.image})}" height="300" width="300" alt="">
            <h1 th:text="${article.getTitle()}" ></h1>
            <p th:text="${article.getDescription()}"></p>
        </div>
        <a th:href="@{/}">
            <button class="btn btn-primary">Back</button>
        </a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>