<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <nav th:insert="fragments/nav-bar :: nav-bar"></nav>
    <div class="container">
        <a class="btn btn-primary mt-3" th:href="@{/add-form}">New Article</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" th:text="#{table.title}"></th>
                <th scope="col" th:text="#{table.description}"></th>
                <th scope="col" th:text="#{table.image}"></th>
                <th scope="col" th:text="#{table.action}"></th>

            </tr>
            </thead>
            <tbody>
            <tr th:each = "article: ${articles}">
                <td th:text = "${article.id}"></td>
                <td th:text = "${article.title}"></td>
                <td th:text="${article.description}"></td>
                <td><img th:src="@{/photos/{image}(image=${article.image})}" height="60" width="120" alt=""></td>
                <td>
                    <a class="btn btn-outline-primary mt-3" th:href="@{/{id}/view(id=${article.id})}">View</a>
                    <a class="btn btn-outline-warning mt-3" th:href="@{/{id}/edit(id=${article.id})}">Edit</a>
                    <a class="btn btn-outline-danger mt-3" th:href="@{/{id}/delete(id=${article.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>